@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

*{
    margin: 0 auto;
}
.device-width{
 max-width: 1600px;
} 
/* header-part */
.header{
background-image: url('../assets/hero-bg.png');
  background-size: cover;
  background-repeat: no-repeat;
background-position: center;
 
}
/* nav-part */
.nav-parent{
    display: flex;
       align-items: center;
        justify-content: center;
        padding: 25px 0px 25px;
        border-bottom: 1px solid #412567;
}
.nav-menu{
    display: flex;
        gap: 20px;      
}

.nav-wave{
 background: var(--Linear, linear-gradient(47.64deg, rgba(247, 233, 63, 1),rgba(251, 9, 180, 1),rgba(145, 0, 248, 1)));
 -webkit-text-fill-color: transparent;
 background-clip: text;
}
.nav-item{
    list-style: none;

}
.nav-link{
    text-decoration: none;
 color: white;
}   

.h1-color{
    color: white;
     font-size: 32px;
} 


.primary-btn{
background: var(--Linear, linear-gradient(47.64deg, rgba(247, 233, 63, 1),rgba(251, 9, 180, 1),rgba(145, 0, 248, 1)));
  display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 12px 20px;
    border-radius: 50px;
    color: white;
}

.humburger{
    display: none;
}

/* hero-section */

 .hero-parent{  
      display: flex;
      flex-direction: column;
      padding-bottom: 100px;
      padding-top: 50px;
      gap: 40px;
 }

 .hero-child-1{
  position: relative;
     display: flex;
    justify-content: center;
    align-items: center;
 }
.main-hero{
  position:relative;
  width: 100%;
   max-width: 350px;
}
.main-img{ 
    width: 100%;
   height: auto;
    display: block;
}
.sec-hero{ 
    position: absolute;
   bottom: 80px;
  right: 115px;
}
.sec-img{
 width: 100%;
 height: auto;
} 

.hero-new{
  background-color: #00FF88;
  display: inline;
 padding: 6px 12px;
 border-radius: 35px;
 font-weight: bold;
 position: absolute;
   bottom: 230px;
   left: 120px;
}


/* hero-child-2 */
.hero-child-2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    color: white;
    gap: 24px;
    
}
.child-2-Tech{
    font-size:60px;
    color: #FFFFFF;
}
.hero-button{
    display: flex;
    gap: 10px;
}


.sec-btn{
  display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 12px 20px;
    border-radius: 50px;
    color:#00FF88;
    background-color: transparent;
    border: 2px solid #00FF88;
} 


/* card-section */
.about-section{
      background-color: #1A0B2E;
}
.about-child-1{
   
        
}


 .about-banner{ 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white; 
    gap: 16px;
     text-align: center;
      margin-bottom: 80px;
}
 .about-banner h1{
     font-style: Bold;
    font-size: 46px;
  
} 

.paragrapg-aliment{
    display: flex;
    flex-direction: column;
    padding-bottom: 30px;
    
}
  

.about-child-2{
    display: flex;
    padding: 120px auto;
     border-top: 1px solid #412567;
   margin:0px  ;
   padding-top: 80px;
  
}
.post h1{
    color: #00FF88;
    font-size: 48px;
   
}
.post h4{
    color: #FFFFFF;
    font-size: 16px;
}











/* media screen  for small device*/
@media screen and (max-width:576px){
    .nav-menu, .sub-parent{
        display: none;
    }
    .humburger{
    display: inline;
}
/* card-section */
.paragrapg-aliment{
    display: inline;
}
}


