@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

*{
    margin: 0 auto;
}
.device-width{
 max-width: 1600px;
} 
/* header-part */
.header{
background-image: url('../assets/hero-bg.png');
  background-size: cover;
  background-repeat: no-repeat;
background-position: center;
 
}
/* nav-part */
.nav-parent{
    display: flex;
       align-items: center;
        justify-content: center;
        padding: 25px 0px 25px;
        border-bottom: 1px solid #412567;
}
.nav-menu{
    display: flex;
        gap: 20px;      
}

.nav-wave{
 background: var(--Linear, linear-gradient(47.64deg, rgba(247, 233, 63, 1),rgba(251, 9, 180, 1),rgba(145, 0, 248, 1)));
 -webkit-text-fill-color: transparent;
 background-clip: text;
}
.nav-item{
    list-style: none;

}
.nav-link{
    text-decoration: none;
 color: white;
}   

.h1-color{
    color: white;
     font-size: 32px;
} 


.primary-btn{
background: var(--Linear, linear-gradient(47.64deg, rgba(247, 233, 63, 1),rgba(251, 9, 180, 1),rgba(145, 0, 248, 1)));
  display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 12px 20px;
    border-radius: 50px;
    color: white;
}

.humburger{
    display: none;
}

/* hero-section */

 .hero-parent{  
      display: flex;
      flex-direction: column;
      padding-bottom: 100px;
      padding-top: 50px;
      gap: 40px;
 }

 .hero-child-1{
  position: relative;
     display: flex;
    justify-content: center;
    align-items: center;
 }
.main-hero{
  position:relative;
  width: 100%;
   max-width: 350px;
}
.main-img{ 
    width: 100%;
   height: auto;
    display: block;
}
.sec-hero{ 
    position: absolute;
   bottom: 80px;
  right: 115px;
}
.sec-img{
 width: 100%;
 height: auto;
} 

.hero-new{
  background-color: #00FF88;
  display: inline;
 padding: 6px 12px;
 border-radius: 35px;
 font-weight: bold;
 position: absolute;
   bottom: 230px;
   left: 120px;
}


/* hero-child-2 */
.hero-child-2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    color:white;
    gap: 24px;
    
}
.child-2-Tech{
    font-size:60px;
    color: #FFFFFF;
}
.hero-child-2 p{
    opacity: 0.7;
}
.hero-button{
    display: flex;
    gap: 10px;
}


.sec-btn{
  display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 12px 20px;
    border-radius: 50px;
    color:#00FF88;
    background-color: transparent;
    border: 2px solid #00FF88;
} 


/* about-section */
.about-section{
      background-color: #1A0B2E;
}
.about-child-1{
   
        
}


 .about-banner{ 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white; 
    gap: 16px;
     text-align: center;
      margin-bottom: 80px;
}
 .about-banner h1{
     font-style: Bold;
    font-size: 46px;
  
} 
.about-banner p{
 opacity: 0.7;
}

.paragrapg-aliment{
    display: flex;
    flex-direction: column;
    padding-bottom: 30px;
}
  

.about-child-2{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
     border-top: 1px solid #412567;
   margin:0px 80px ;
   padding-top: 60px;
   padding-bottom: 80px;
  
}
.post{
    display: flex;
    flex-direction: column;
    gap: 16px;
 
    text-align: center;
}
.post h1{
    color: #00FF88;
    font-size: 48px;
}
.post h4{
    color: #FFFFFF;
    font-size: 16px; 
    opacity: 0.7; 
}


/* gird-card-section */
.card-section{
        background-color: #230E3D;
        padding: 120px;
}
.card-head h1{
    font-weight: bold;
    font-size: 48px;
    color: white;
    display: flex;
    justify-content: center;
    padding-bottom: 40px;
}
.card-parent{
    display: grid;
    grid-template-columns:repeat(3,1fr);
    grid-template-rows: repeat(3, 1fr);  
}

.card-parent h1{
    opacity: 0.7;
}
.card{
    color: white;
    background-color: #250D44;
   border-radius: 40px;
    gap:200px;   
    margin: 12px;
    padding: 40px;
}

.card-1{
    grid-row: span 2;
    padding: 110px 50px;   
}
.card-2{
    grid-column:span 2;
}
.card-3{
    grid-column:span 2;
   
}
.card-4{
    grid-column:span 2;
}
.card-6{
 
}
.card-gap{
    margin: 16px auto;
}

   /* <!-- Featured section youtube video --> */

   .fuatured-section{
      background-color:  #1A0B2E;
     display: flex;
     flex-direction: column;
     color: white;

   }
.fuatured-continer{
  display: flex;    

 padding-top: 120px;

}
.video-3 { 
     border-radius: 40px;
    background-color: #250D44;
    background-size: cover;
}
.video-3 iframe{
border-radius: 40px 40px 0px 0px;  
 
}

.text-3{
  color: white;
  padding:0 10px;
   
}




.iframe-2{
    border-radius: 16px;
 
}








/* challenge-part */

.challenge-section{
 display: flex;
 flex-direction: column;background-color: #1A0B2E;
}
.challenge-head{
  font-size: 48px;
  font-style: bold;
  color: white;
  padding-top: 100px;
}
.alex-parent{
display: flex;
color: white;
justify-content: center;
align-items: center;
gap: 24px;
background-color: #250D44;
border-radius: 40px;
margin: 30px 140px;
padding: 45px;
}
.child-alex{

}
.child-alex-info{
display: flex;
flex-direction: column;
justify-content: start;

}
.info-icon{
 
}

/* footer-parent */
.footer-parent{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url('/assets/footer-bg.png');
    background-size: cover;
    background-position: center;
    color: white;
    gap: 32px;
    padding: 120px;
}
.footer-parent h5{
    opacity: 0.7;
}

.icon-parent{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
}
.icon{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
}





/* media screen  for small device*/
@media screen and (max-width:576px){
    .nav-menu, .sub-parent{
        display: none;
    }
    .humburger{
    display: inline;
}


/* about-section */
.paragrapg-aliment{
    display: inline;
}
.about-child-2{
    grid-template-columns: repeat(2,1fr);
    margin: 0px;
    gap: 20px;
}

/* grid-card-section */
.card-parent{
    grid-template-columns:repeat(1,1fr);
} 
 .card-section{
        padding:0px;
}
.card-1{
   padding-top: 120px;   
}
.card-head h1{
    font-size: 38px;
    padding-top: 40px;
    padding-bottom: 16px;
}

/* challenge-section */


.alex-parent{
display: flex;
flex-direction: column;
gap: 24px;
margin: 30px 20px;
padding: 25px;
}
.challenge-head{
    font-size: 2rem;
}
 /* footer-part */
  .icon-parent{
    grid-template-columns: repeat(2, 1fr);
    gap: 5px;
}
.footer-parent{
  align-items: center;
    gap: 20px;
    padding: 30px 20px 20px 20px;
}

}











/* media screen for medium device */
@media screen and (min-width:576px) and (max-width:992px){                                                                                                                                                                                                                                                                                          
  /* grid-card-section */
.card-parent{
    grid-template-columns:repeat(2,1fr);
    grid-template-rows: repeat(3,1fr);
}
 .card-section{
        padding:0px;
}
.card-1{
   padding-top: 120px;   
}
.card-head h1{
    font-size: 45px;                                                                        
}
.card-1{
    grid-column: span 2 ;
    grid-row: span 1;
    padding: 110px 50px;   
}
.card-2{
    grid-column:span 1;
}
.card-3{
    grid-column:span 1;
}
.card-4{
    grid-column:span 1;
}
.card-5{
    grid-column:span 1;
}
}
